.post_item {
    width: 750px;
    display: flex;
    justify-content: center;
}

.thumbnail {
    max-width: 300px !important;
    max-height: 200px !important;
}

.thumb_holder {
    max-width: 300px;
}

.post_info {
    display: block;
    margin-left: 10px;
}

.post_list {
    display: grid;
    justify-content: center;
}

.more_info {
    display: flex;
    justify-content: center;
}