.post_list {
    display: grid;
    justify-content: center;
    max-width: 350px;
}

.post_item {
    display: block;
    max-width: inherit;
}

.post_info{
    text-align: center;
    margin-top: 10px;
    font-size: 110%;
}

.post_info h3{
    font-size: 2rem;
    font-weight: bolder;
}

.thumbnail {
    max-width: 250px !important;
    max-height: 200px !important;
}

.thumb_holder{
    display: flex;
    justify-content: center;
}

.more_info {
    display: flex;
    justify-content: center;
}

.button {
    background: #966f3d;
    border-color: #966f3d;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}